.chat-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 8px;
    height: 25px;
    width: 100%;
    padding: 18px 0;
    justify-content: flex-start;
    font-size: 1rem;
    word-break: break-all;
}

.chat-box:hover {
    background-color: whitesmoke;
}

.chat-name {
    padding: 5px 15px;
}

.chat-avatar {
    margin: 0 0 0 13px;
}